*{
    list-style-type: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    color: black;
}

/* création de la barre de navigation */
nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px 10px 30px 10px;
    font-size: 40px;
}
nav div, nav p{
    padding-left: 15px;
}

/* mise en place du logo*/
.herisson {
    grid-column: span 1.5;
    width: 200px;
    margin-top: 50px;
}

.navbar{
    grid-column-start: 4 / 8;
    color: green;
    font-size: 16px;
}

.logo {
    max-width: 100%;
    border-radius: 150rem;
    grid-row: span 2;
}

h1{
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}

.balançoire{
    width: 800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.paragraphe {
    text-align: justify;
    margin: 0 15px 0 15px;
    font-size: 16px; 
}

/*pour le footer*/
footer {
    display: flex;
    background-color: rgb(44, 190, 142);
    align-items: center;
    justify-content: space-between;    
}
/*pour que les images prennent la taille du footer*/
footer img{
    height: 50px;
}

.texte {
    font-size: 40px;
    margin: 30px;
    margin-bottom: 100px;
    text-indent: 100px;
    text-align: center;
    /*pour rappeler la police qu'on veut changer*/
    font-family: 'Oswald', sans-serif;
    }



.menufooter{
    font-size: 15px;
}

.logofooter {
    border-radius: 150rem;
}

.titrelogo {
    font-size: 15px;
}
/*pour mettre le texte sous le logo. Il faut créer une div en HTML pour lier les 2*/
.logoettexte {
    position: relative;
    text-align: center;
 }

 /*page 1:*/
 .lune{
    display: block;
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
 }

 .liencalendrierlunaire {
     text-align: center;
     text-decoration: underline solid black;
 }

 .calendrier{
     color: green;
 }

h3{
    font-size: 30px;
    margin: 70px 50px 30px 50px;
    text-align: center;
}

.imagerotation{
    display: flex;
    width: auto;
    margin: 10px 40px 70px 40px;
}

.haut{
    width: 50%;
}

.bas{
    width: 50%;
}

/*page 2*/

h2{
    font-size: 20px;
    text-align: justify;
    margin: 30px 50px 10px 50px;
}

h4{
    font-size: 20px;
    text-align: justify;
    margin: 30px 50px 10px 50px;
}

section{
    padding: 20px;
    /*pour faire un alinéa*/
    text-indent: 5em;
}

/*page 2 présentation des cultures
mise en place du tableau*/
.plantes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 40px;
    margin: 50px;
}

.parapage2 {
    height: 200px;
}
/*1ere colonne racines*/
.pivoine{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 300px;
    border-radius: 150px;
}

.texteracines{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

/*2ème colonne: couvrantes*/
.couviolette{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    height: 300px;
    border-radius: 150px;
}

.textecouvrantes{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
}
/*3è colonne grimpantes*/
.vigne{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 100%;
    height: 300px;
    border-radius: 150px;
}

.textegrimpantes{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
}
/*4è colonne persistantes*/
.fusain{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 100%;
    height: 300px;
    border-radius: 150px;
}
 
.textepersistantes{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 100%;
    height: auto;
}
/*5 ècolonne insectes*/
.marjolaine{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    width: 100%;
    height: 300px;
    border-radius: 150px;
}

.texteproinsectes{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    width: 100%;
    height: auto;
}

.basilic{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    width: 100%;
    height: 300px;
    border-radius: 150px;
}

.texteantiisectes{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
}

.textepage2{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

/*mise en page de la page3*/
/*pour supprimer alinéa des puces*/
ul{
    padding: 0;
    margin: 0;
}

li{
    padding-left: 16px;
}

li::before{
    content: icon;
    padding-right: 8px;
    color: green;
}